<aside class="w-80 h-screen bg-gray-400">
    <ul>
        <li [routerLink]="['/all-users']" routerLinkActive="active-link" class="h-10 p-6 bg-green-600 flex items-center">All Users</li>
        <li [routerLink]="['/add-user']" routerLinkActive="active-link"  class="h-10 p-6 bg-red-600 flex items-center">Add User</li>
        <!-- <li [routerLink]="['/side-nav']" routerLinkActive="active-link" class="h-10 p-6 bg-yellow-600 flex items-center">Side Navigation</li> -->
        <li [routerLink]="['/update-user']" routerLinkActive="active-link" class="h-10 p-6 bg-blue-600 flex items-center">Update</li>
    </ul>
   
<!-- 
    <nav>
        <ul>
          <li>
            <a [routerLink]="['/add-user']" routerLinkActive="active-link">Add User</a>
          </li>
          <li>
            <a [routerLink]="['/side-nav']" routerLinkActive="active-link">Side Navigation</a>
          </li>
          <li>
            <a [routerLink]="['/all-users']" routerLinkActive="active-link">All Users</a>
          </li>
        </ul>
      </nav> -->
      
     
      


</aside>